/* Your styles here */
/*bg blu grande #222F3F 
bg blu piccolo #364759
bg arancione #F56600
bg pagina #E9EDEE
colore txt blu #438F99*/

html{
    background-size: cover;

}
body{
    font-family: 'Arial', 'Elvetica' ,sans-serif;
    background-color: #E9EDEE;
    
}

header {
    background-color:  #222F3F ;
    padding: 0.7rem;
    width: 100%;
}

header img{
    width: 10%;
}

main { 
    margin: 16px;
    border: 1rem;

}

.ciao a{
    background-color: #364759;
}

.zero  p{
    background-color:  #F56600 ;
    text-align: center;
    color: white;
    padding: 0.5rem;
}

 .prima {
    color: white;
    padding: 2.6rem;
    background-image: url('../images/bg-image.png');
    text-align: center;
}

.seconda{
    padding-top: 2rem;
    background-color: white;
    color: black
}

.seconda img {
    margin: 5px; 
    display: inline-block;
    width: 300px;
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4%;
    box-shadow: 5px 5px 5px grey;
    object-fit: cover;
}

.terza img{
    width: 100%;
    padding-top: 2rem;
}
.terza p{
    text-align: center;
    display: inline-block;

}
.terza p:last-of-type , .quarta p:last-of-type {
    color:#438F99;
    text-align:center;

}
.quarta p{
    text-align: center;
    display: inline-block;
}
.quarta img{
    width: 100%;
}

aside {
    background-color: #364759;
    color: white;
    padding: 0.7rem;
    text-align: center;
    background-size: cover;
    margin: auto;
    width: 100%;
}

aside a:visited{
    color:white;
}

footer {
        background-color:  #222F3F ;
        text-align: center;
        padding: 0.7rem;
        margin: auto;
        width: 100%;
    }



footer img{
    padding: 2rem;
    width:10%;
}

